.Number-of-question-container {
  border: 1px solid var(--primary-dark-color);
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-radius: 30px;
}
.question-circle {
  border-radius: 50%;
  border: none !important;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  /* background-color: #666666; */
  background-color: var(--primary-color);
  padding: 3px;
}
.question-count {
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem;
}
.total-questions,
.answered-questions,
.unanswered-questions {
  background: #eb8a1e;
  color: white;
  border-radius: 16px;
  padding: 1rem 2rem;
}
.question-header {
  padding: 1rem 0;
}
.options {
  gap: 1rem;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}
.single-option {
  padding: 1rem 2rem;
  min-width: 35rem;
  border: 1px solid #eb8a1e;
  font-weight: 600;
  border-radius: 16px;
}
.prev-button,
.next-button,
.final-button {
  padding: 1rem 2rem;
  border: none;
  background: var(--primary-color);
  color: var(--white-color);
  border-radius: 16px;
}
